.pics {
    float: left;
    background-color: white;

    
}
  h1 {
    text-align: center;
    text-decoration-line: underline;
    color: #ffffff;
   font-size: xx-large;
  }
  hr{
    border-style: none;
    border-top-style: dotted;
    border-color:#AD7BE9 ;
    border-width: 8px;
    
  }
  img{
    float: right;
  }
  body{
   
    background-image: url('https://i.pinimg.com/originals/78/be/5d/78be5dd68cde3f3616c7304c2b158a45.jpg');
        background-size: cover;
  }
  h2
  {
    text-decoration-line: underline;

  }
  table {
    border-collapse: collapse;
  }
  
  td {
    border-bottom: 5px solid lightsteelblue;
    height: 120px;
        width: 1000px;
  }
  .container {
    display: flex;
  }
  
  .column {
    flex: 1;
    position: relative;
  }
  
  .column-left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 98.5%;
    height: 100%;
    width: 10px;
    background-color: black;
  }
  .box {
    border: 6px solid black;
    padding: 10px;
    background-color: #f0f0f0;
    width: 600px;
  }
  .box2 {
    border: 6px solid black;
    padding: 10px;
    background-color: #f0f0f0;
    width: 880px;
  }
  header 
  {
    background-color: rgb(55, 128, 170);
    font-family: "Montserrat", sans-serif;
  font-size: 23px;
  background-image:  url("https://as1.ftcdn.net/v2/jpg/04/10/03/92/1000_F_410039266_L3d9dyCjPw8zPq7eUarFvvLp2PWVZAEk.jpg");

  }
  .my-box {
    background-color: #011731fe;
    border: 2px solid black;
    padding: 10px;
    width: 600px;
    margin: 20px auto;
    text-align: center;
  }
  button {
    position: relative;
    padding: 1em 1.8em;
    outline: none;
    border: 1px solid #303030;
    background: #9a9494;
    color: #ae00ff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
   }
   
   button:hover {
    box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
    transition-delay: 0.6s;
   }
   
   button span {
    position: absolute;
   }
   
   button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ae00ff);
   }
   
   button:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
   }
   
   button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #001eff);
   }
   
   button:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
   }
   
   button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ae00ff);
   }
   
   button:hover span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
   }
   
   button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #001eff);
   }
   
   button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
   }
   
   button:active {
    background: #ae00af;
    background: linear-gradient(to top right, #ae00af, #001eff);
    color: #bfbfbf;
    box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
    transition: 0.1s;
   }
   
   button:active span:nth-child(1) 
   span:nth-child(2) 
   span:nth-child(2) 
   span:nth-child(2) {
    transition: none;
    transition-delay: none;
   }
   @keyframes clockwise {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes counter-clockwise {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(-360deg);
    }
  }
  
  .gearbox {
    background: #111;
    height: 800px;
    width: 300px;
    position: relative;
    border: none;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
    float: right;
  }
  
  .gearbox .overlay {
    border-radius: 6px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    box-shadow: inset 0px 0px 20px black;
    transition: background 0.2s;
  }
  
  .gearbox .overlay {
    background: transparent;
  }
  
  .gear {
    position: absolute;
    height: 60px;
    width: 60px;
    box-shadow: 0px -1px 0px 0px #888888, 0px 1px 0px 0px black;
    border-radius: 30px;
  }
  
  .gear.large {
    height: 120px;
    width: 120px;
    border-radius: 60px;
  }
  
  .gear.large:after {
    height: 96px;
    width: 96px;
    border-radius: 48px;
    margin-left: -48px;
    margin-top: -48px;
  }
  
  .gear.one {
    top: 12px;
    left: 10px;
  }
  
  .gear.two {
    top: 61px;
    left: 60px;
  }
  
  .gear.three {
    top: 110px;
    left: 10px;
  }
  
  .gear.four {
    top: 13px;
    left: 128px;
  }
  
  .gear:after {
    content: "";
    position: absolute;
    height: 36px;
    width: 36px;
    border-radius: 36px;
    background: #111;
    top: 50%;
    left: 50%;
    margin-left: -18px;
    margin-top: -18px;
    z-index: 3;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1), inset 0px 2px 0px 0px #090909, inset 0px -1px 0px 0px #888888;
  }
  
  .gear-inner {
    position: relative;
    height: 100%;
    width: 100%;
    background: #555;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .large .gear-inner {
    border-radius: 60px;
  }
  
  .gear.one .gear-inner {
    animation: counter-clockwise 3s infinite linear;
  }
  
  .gear.two .gear-inner {
    animation: clockwise 3s infinite linear;
  }
  
  .gear.three .gear-inner {
    animation: counter-clockwise 3s infinite linear;
  }
  
  .gear.four .gear-inner {
    animation: counter-clockwise 6s infinite linear;
  }
  
  .gear-inner .bar {
    background: #555;
    height: 16px;
    width: 76px;
    position: absolute;
    left: 50%;
    margin-left: -38px;
    top: 50%;
    margin-top: -8px;
    border-radius: 2px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .large .gear-inner .bar {
    margin-left: -68px;
    width: 136px;
  }
  
  .gear-inner .bar:nth-child(2) {
    transform: rotate(60deg);
  }
  
  .gear-inner .bar:nth-child(3) {
    transform: rotate(120deg);
  }
  
  .gear-inner .bar:nth-child(4) {
    transform: rotate(90deg);
  }
  
  .gear-inner .bar:nth-child(5) {
    transform: rotate(30deg);
  }
  
  .gear-inner .bar:nth-child(6) {
    transform: rotate(150deg);
  }
  * {
		padding: 0;
		margin: 0;
	}
	
   
   
   

